[submodule "lib/Summit.Spec"]
	path = lib/Summit.Spec
	url = ../../centrillion/Summit.Spec.git
[submodule "lib/CFU"]
	path = lib/CFU
	url = ../../centrillion/CFU.git
[submodule "lib/Summit.Crypto"]
	path = lib/Summit.Crypto
	url = ../../centrillion/Summit.Crypto.git
[submodule "lib/Summit.Grid-CI-data"]
	path = lib/Summit.Grid-CI-data
	url = ssh://git@gitlab.centrilliontech.com.tw:10022/centrillion/Summit.Grid-CI-data.git
